Footer
  article 
    h2 Contact
    p Vous pouvez me contacter par courriel ou par message sur les réseaux sociaux.
    ul
      li 
        a(href="") Courriel
      li 
        a(href="") Linkedin
      li 
        a(href="") Twitter
      li 
        a(href="") Github