section
  header
    h1(class='big-title') Marie-Maxime
    p(class='subtitle') développeuse web
    div(class='img-profile')
    p(class='techs-title') JavaScript, React, Vue.js, Ionic, Angular 2+, CSS, Node.js, PHP
  article 
    h2 À propos de moi
    p Bonjour! Mon nom est Marie-Maxime Tanguay, je suis une developpeuse Web Frontend spécialisée en Javascript, vivant à Montréal (Québec, Canada). 
    p Je maitrise des librairies et technologies moderne tel que React, Stimulus, Ionic, Node.js et Webpack pour architecturer et développer des application web ou mobile complexe.
    p Je possède aussi des connaissances sur les meilleures pratiques en terme de perfomance web pour réduire le temps de chargement et de rendue pour améliorer l'expérience utilisateurs.
    p Travail présentement chez OKAM à temps plein depuis 2017 et Passeport en fût à temps partiel depuis 2018.
    p Je suis aussi passionnée de jeux vidéo, de technologies, de films de super héros et de patin à roues alignées.