section
  header(class='spacing')
    h1(class='big-title') Marie-Maxime
    p(class='med-title half-size') développeuse web
    div(class='img-profile')
    p(class='small-title') JavaScript, React, Vue.js, Ionic, Angular, CSS, Node.js, PHP, Wordpress, Ruby on Rails
  article(class='padding-top padding-bottom spacing')
    h2(class='med-title title-padding') À propos de moi
    div(class='text-block')
      p Bonjour! Mon nom est Marie-Maxime Tanguay, je suis une developpeuse web Fullstack spécialisée en Javascript, vivant à Montréal (Québec, Canada). 
      p Je maîtrise des librairies et technologies modernes dans le but d'architecturer et développer des applications et interfaces web complexes et perfomantes.
      p Je suis aussi passionnée de jeux vidéo, de technologies, de films de super héros et de patin à roues alignées.
