section
  header
    h1 Marie-Maxime Tanguay, developpeuse web
    p JavaScript, React, Vue.js, Ionic, Angular 2+, CSS, Node.js, PHP
  article 
    p Je suis Marie-Maxime Tanguay, Developpeuse Web Frontend spécialisée en Javascript vivant à Montréeal, Canada. Je maitrise des librairies et technologies moderne tel que React, Stimulus, Ionic, Node.js et Webpack pour architecturer et développer des application web ou mobile complexe.
    p Je travail présentement chez OKAM et Passeport en fût.
    p Passionnée de jeux vidéo, de technologies, de films de super héros et de patin à roues alignées.