section
  header
    h2 Spécalités et Projets
  article 
    h3 Site web
    p Développement de sites web de tout genre: ecommerce, informationnel, éducatif et applicatif.
    h4 Technologies
    h5 Frontend
    ul
      li Javascript (ES6+)
      li CSS/SCSS
      li HTML
      li React
      li Vue.js
      li Typescript
      li Stimulus
      li Webpack 4
      li TailwindCSS
    h5 Backend
    ul
      li Wordpress
      li Woocommerce
      li PHP
      li Node.js
      li Laravel Blade
    h4 Projets
    ul
      li Bellmedia - The Lede
      li Éducart
      li Amélio.tv

  article 
    h3 Application mobile
    p Développement d'application mobile hybride et de PWA (Progressive Web App).
    h4 Technologies
    ul
      li Ionic
      li Angular
      li Cordova
      li Stencil.js
      li Typescript
    h4 Projets
    ul
      li Passeport en fût
      li Savor Seattle

  article 
    h3 Chatbot
    p Développement de robot conversationnel (Chatbot) sur des plateformes comme Facebook ou Slack.
    h4 Technologies
    ul
      li Botpress
      li QnaMaker
      li Dialogflow
      li Luis.ai
      li Node.js
    h4 Projets
    ul
      li Alex de Keolis - Chatbot Facebook
      li Naître et Grandir - Chatbot Facebook