
.spacing {
  padding: 0.5rem;
}

.padding-top {
  padding-top: 2.5rem;
}

.padding-bottom {
  padding-bottom: 2.5rem;
}

.social-media {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
  }

  span {
    display: none;
  }
}